<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrototypePlayerHand" value="false"/>
    <add key="PrototypeDealerHand" value="false"/>
    <add key="DealerHand" value="2,3"/>
    <add key="PlayerHand" value="2,7"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>